<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>demo6</title>
</head>
<body>
<span>Message is: {{ message }}</span>
<br>
<input type="text" v-model="message" placeholder="edit me">
<hr>
<input type="checkbox" id="checkbox" v-model="checked">
<label for="checkbox">{{ checked }}</label>
<hr>
<input type="checkbox" id="jack" value="Jack" v-model="checkedNames">
<label for="jack">Jack</label>
<input type="checkbox" id="john" value="John" v-model="checkedNames">
<label for="john">John</label>
<input type="checkbox" id="mike" value="Mike" v-model="checkedNames">
<label for="mike">Mike</label>
<input type="checkbox" id="tom" value="Tom" v-model="checkedNames">
<label for="tom">Tom</label>
<br>
<span>Checked names: {{ checkedNames | json }}</span>

<hr>

<input type="radio" id="one" value="One" v-model="picked">
<label for="one">One</label>
<br>
<input type="radio" id="two" value="Two" v-model="picked">
<label for="two">Two</label>
<br>
<span>Picked: {{ picked }}</span>

<hr>

<select v-model="selected">
    <option selected>A</option>
    <option>B</option>
    <option>C</option>
</select>
<span>Selected: {{ selected }}</span>
<hr>
<select v-model="selected" multiple>
    <option selected>A</option>
    <option>B</option>
    <option>C</option>
</select>
<br>
<span>Selected: {{ selected | json }}</span>

<hr>

<select v-model="selected" >
    <option v-for="option in options" v-bind:value="option.value">
        {{ option.text }}
    </option>
</select>
<span>Selected: {{ selected }}</span>
<hr>

<input type="checkbox" v-model="toggle" v-bind:true-value="a" v-bind:false-value="b">
<!-- ===================================================== -->
<script src="js/vue.min.js"></script>
<script>
    var vm = new Vue({
        el: 'body',
        data:{
            message:'',
            checked: false,
            checkedNames:[],
            picked:[],
            selected: 'A',
            options:[
                {text:'One',value:'A'},
                {text:'Two',value:'B'},
                {text:'Three',value:'C'}
            ],
            toggle:'a'
//            selected:[],
        }
    });

    vm.toggle === vm.a;

</script>
</body>
</html>